[Unit]
Description=Bind mount /var/lib/containerd to itself
Requires=var-lib-containerd-remount.service
Before=local-fs.target

[Mount]
What=/var/lib/containerd
Where=/var/lib/containerd
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
